# Firebase Config
FIREBASEAPIKEY=yourfirebaseapi_key
FIREBASEAUTHDOMAIN=your_project.firebaseapp.com
FIREBASEPROJECTID=yourprojectid
FIREBASESTORAGEBUCKET=your_project.appspot.com
FIREBASEMESSAGINGSENDERID=yoursender_id
FIREBASEAPPID=yourappid

# MercadoPago Config
MPACCESSTOKEN=yourmercadopago_access_token
MPPUBLICKEY=yourmercadopago_public_key

# Google Vision API
GOOGLEAPPLICATIONCREDENTIALS=./path/to/your/google-vision-key.json

# App Settings
MINWITHDRAWALUSD=20
EXCHANGERATEMXN=17
FEE_RATE=0.05